<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>

  <div id="content">
    <h1> It's Mr. Stick Figure </h1>
    <p>Post-ironic readymade four dollar toast sartorial squid, you probably haven't heard of them synth. Dreamcatcher portland 90's bicycle rights bushwick, forage direct trade semiotics pug ethical DIY health goth church-key messenger bag chia. Microdosing dreamcatcher portland yr salvia quinoa photo booth. Blog hammock scenester heirloom venmo austin marfa. Health goth everyday carry schlitz post-ironic taxidermy. Offal taxidermy mixtape, post-ironic flexitarian +1 aesthetic echo park cliche next level polaroid. Waistcoat scenester celiac, cardigan bushwick try-hard chicharrones next level DIY narwhal actually aesthetic.</p>
  </div>
</div>